@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  --emerald: #86cb92ff;
  --mint: #71b48dff;
  --yinmn-blue: #404e7cff;
  --space-cadet: #251f47ff;
  --dark-purple: #260f26ff;
  margin: 0;
  height: 100dvh;
  display: flex;
  width: 100%;
  overflow: hidden;
  user-select: none;
}
#root {
  width: 100%;
  display: flex;
}
* {
  font-family: "Roboto", serif;
}


main {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-purple);
  /* height: 100dvh; */
  width: calc(100dvw - 2rem);
  justify-content: space-between;
  color: white;
  text-align: center;
  padding: 1rem;
}

button {
  background-color: var(--yinmn-blue);
  color: white;
  border-radius: 6px;
  padding: .5rem;
  border: 3px solid transparent;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 0 var(--space-cadet);
  margin: 5px 0;
  position: relative;
}
button::first-letter {
  text-transform: capitalize;
}
button:active, .pressed {
  box-shadow: 0 1px 0 var(--space-cadet);
  top: 3px;
}

.finish {
  display: flex;  
  flex-direction: column;
  height: 100%;
}
.loading {
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 3.5rem;
}

.show-texting {
  position: relative;
}
.show-texting::after{
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: beige;
  animation: typing 1s steps(40) forwards;
}

@keyframes typing {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
/* MENU**/



.diff-selector {
  display: flex;
  gap: .5rem;
  width: 100%;
}
.diff-selector >button {
  flex-basis: 33%;
  font-size: 1.2rem;
  padding: 1.5rem 0;
}

.carrousel {
  display: flex;
  align-items: stretch;
  gap: .5rem;
  width: 100%;
  margin: 1rem 0;
  height: 100%;
}
.carrousel_display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--dark-purple);
  background-color: #d5d5d5;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
}

.start-trivia {
  font-size: 1.4rem;
  margin-top: auto;
}


/**Game*/


.trivia-game {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 1rem;
}
.trivia-game header {
  height: 100%;
}
.header-content{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  height: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header-nav p:nth-child(1)::first-letter {
  text-transform: capitalize;
}
.header-nav p:nth-child(2) {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}
.header-content h3 {
  background-color: beige;
  color: var(--dark-purple);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

/**PROGRESS BAR*/

.progress-container {
  width: 100; 
  background-color: var(--space-cadet);
  height: .5rem;
  position: relative;
  border-radius: 5px;
}
.progress-bar {
  position: absolute;
  transition: width 1s;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: var(--emerald);
  height: 100%;
  border-radius: 5px;
}

.options-list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  margin-bottom: 0;
}

.option-button {
  font-size: 1.2rem;
}
